<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link href="../styles.css" />
  <title>Angular 5</title>
</head>
<style>
.central{
  width:50%;
  margin-right: auto;
  margin-left:auto;
  padding-bottom: 50px;


}
.add-article{
  border: 1px solid maroon;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
}
.selectionned{
  background-color: yellow;
}
</style>
<body>
<div class="row">
  <div class="central">
  <form action="">
    <div class="add-article"   [ngClass]="{selectionned:true}" >Ajouter Article</div>
    <div class="form-title">
      <div class="title-text">Titre</div>
      <div class="title-input">
        <input type="text" class="form form-control" placeholder="Ajouter titre" name="title" #newTitle>
      </div>
    </div>
    <div class="form-link">
      <div class="link-text">Lien</div>
      <div class="link-input">
        <input type="text" class="form form-control" placeholder="Ajouter lien" name="link" #newLink>
      </div>
    </div><br>
    <div class="enregistrer align-right">
      <button class="btn btn-success" (click)="addArticle(newTitle, newLink)">Enregistrer</button>
    </div>
  </form>

  <div class="row">
    <div *ngFor="let article of sortedArticles()">
    <app-article-item [article]="article" (onClickArticle)="clicked(article)"
 
    ></app-article-item>
    </div>
  </div>
</div>
</div>
</body>
</html>

